@use '../../variables.scss' as *;

.competitions {
display: flex;
 flex-direction: column;
flex-wrap: wrap;
margin-top: 90px !important;

  &__future,
  &__past {
    
    min-height: 376px;
  }
  &__past {
    margin-bottom: 30px;
  }
  &__future-list,
  &__past-list {
    display: flex;
    // gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    width: 100%;
    margin: 0;
    &.expanded {
      max-height: 1000px !important;
      @media screen {
        max-height: 1500px !important;
      }
    }
  }
  &__future-list {
    max-height: 250px;
    @media (max-width: 980px) {
      max-height: 500px;
    }
  }
  &__past-list {
    max-height: 250px;
    @media (max-width: 980px) {
      max-height: 500px;
    }
  }
}
