@use './../../variables.scss' as *;

.clubs-and-partners {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .clubs,
  .partners {
    // margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__list {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      transition: all 0.3s;
      max-width: 100%;

      img {
        width: 100%;
        height: auto;
        display: block;
      }

     

      h3 {
        position: absolute;
        bottom: 10px;
        left: 10px;
        margin: 0;
      }
    }
    .clubs {
      margin-top: 30px;
      &__list {
        gap: 10px;
      }
      &__list-item {
        border: 1px solid #ddd;
        width: calc(33.333% - 7px);
        min-width: 140px;
        @media screen and (max-width: 720px) {
          width: calc(50% - 5px);
        }
        @media (max-width: 400px) {
          min-width: 110px;
          width: calc(50% - 5px);
        }
        h3 {
          text-align: center;
          width: 100%;
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to bottom,
            rgba(248, 241, 241, 0) 60%,
            rgb(243, 238, 238) 75%,
            rgba(248, 241, 241, 1) 75%
          );
          opacity: 0.8;
          transition: opacity 0.3s;
          pointer-events: none;
          @media (max-width: 720px) {
            background: linear-gradient(
              to bottom,
              rgba(248, 241, 241, 0) 50%,
              rgb(243, 238, 238) 65%,
              rgba(248, 241, 241, 1) 75%
            );
            
          }
          @media (max-width: 400px) {
            background: linear-gradient(
              to bottom,
              rgba(248, 241, 241, 0) 35%,
              rgb(243, 238, 238) 45%,
              rgba(248, 241, 241, 1) 55%
            );
          }
        }
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 4px 8px rgba(207, 56, 56, 0.2);
        }
      }
    }
    .partners {
      margin: 0;
      &__list {
        gap: 10px;
        justify-content: space-between;
      }
      &__list-item {
        min-width: 120px;
        width: calc(25% - 90px);
        
        margin: auto;
        h3 {
          width: 100%;
          text-align: center;
          // margin-top: 40px;
        }
        img {
          transition: all 0.3s;
          margin-bottom: 30px;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.7)
            );
            opacity: 0.5;
            transition: opacity 0.3s;
            pointer-events: none;
          }
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
