@use './../../../../variables.scss' as *;

.competition-slide {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  width: 130px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  position: relative;
  transition: transform .2s, box-shadow .2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(207, 56, 56, 0.2);
  }

  img {
    align-self: center;
    width: 100%;
    height: 130px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease; // Add transition for smooth blur effect
  }

  &__content {
    padding: 8px 6px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h3 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      overflow: hidden;
    }

    p {
      align-self: flex-end;
      padding-right: 10px;
      text-align: right;
    }
  }

  &__finished {

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none; 
    p {
      text-align: center;
      color: rgba(207, 56, 56);
      font-size: .8rem;
      text-shadow: 0 0 5px  white;
      // text-shadow: none;
      font-weight: 700;
    }
  }

  &.finished {
    img {
      filter: blur(5px); 
    }
  }
}
