@use "../../../variables.scss" as *;
@use '../../../mixins.scss' as *;

.leads {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    justify-content: space-between;
  }

  &__card {
    @include card-passive;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    // background-color: $card-color;
    // border: 1px solid #ddd;
    // border-radius: 8px;
    // overflow: hidden;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 380px;
    width: calc(33.333% - 20px);
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 4px;
    @media (max-width: 900px) {
      width: calc(50% - 10px);
        
    }
    &-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px 6px;
      line-height: normal;
      align-self: start;
      width: 100%;
      p {
        margin: 10px 0;
      }
    }

    img {
      width: 100%;
      max-width: 300px;
      height: 300px;
      object-fit: cover;
      overflow: hidden;
      padding: 4px;
      align-self: start;
      border-radius: 10px;
      margin: auto;
    }
    &:first-child {
      width: calc(66.666% - 10px);
      height: 380px;
      flex-direction: row;
      text-align: left;
      .leads__card-info {
        align-items: flex-start;
        padding: 20px;
        h3 {
          margin-bottom: 20px;
        }
        p {
          margin: 10px 0;
        }
      }
      img {
        height: 100%;
        width: 300px;
      }
      @media screen and (max-width: 900px) {
        width: 100%;
      }
    }
    @media screen and (max-width: 580px) {
      width: 100%;

   
      
    }
  }
}
