@use './../../../variables.scss' as *;
@use './../../../mixins.scss' as *;
.button__toggle-list {
    
@include card-active;
  margin-right: 2px;
  padding: 6px 24px 6px 10px;
  min-width: 125px;
  height: 32px;
    &:hover {
        transform: translateY(-2px);
    }
  @media (max-width: 980px) {
    margin-right: 0;
  }
  &::after {
    content: '';
    transition: all 0.2s;
    position: absolute;
    //   background-image: url('./../../../assets/svg/arrow-down-black.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 5px;
    // right: -21px;
  }
  &.collapsed::after {
    background-image: url('./../../../assets/svg/arrow-down-black.svg');
  }
  &.expanded::after {
    background-image: url('./../../../assets/svg/arrow-up-black.svg');
  }
  &:hover {
    &.collapsed::after {
      background-image: url('./../../../assets/svg/arrow-down-red.svg');
    }
    &.expanded::after {
      background-image: url('./../../../assets/svg/arrow-up-red.svg');
    }
  }
  &.bottom-button {
    width: 100%;
    margin: 6px auto;
    padding: auto;
    &.collapsed {
        // opacity: 0;
        // z-index: -1;
    }
    &.expanded {
        opacity: 1;
    }
    @media (min-width: 768px) {
      
    }
  }
}
