@use './../../../variables.scss' as *;
@use './../../../mixins.scss' as *;
.button__toggle-list {
  @include card-active;
  padding: 6px 24px 6px 10px;
  min-width: 125px;
  height: 32px;
  width: calc(100% - 10px);
  &::after {
    content: '';
    transition: all 0.2s;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 5px;
  }
  &.collapsed::after {
    background-image: url('./../../../assets/svg/arrow-down-black.svg');
  }
  &.expanded::after {
    background-image: url('./../../../assets/svg/arrow-up-black.svg');
  }
  &:hover {
    &.collapsed::after {
      background-image: url('./../../../assets/svg/arrow-down-red.svg');
    }
    &.expanded::after {
      background-image: url('./../../../assets/svg/arrow-up-red.svg');
    }
  }

}
