.competitions-slider, .news-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  .slick-slider {
    width: 100%;
    justify-content: center;
    height: 200px;
    display: flex;
    padding: 0 40px;
  }
  .slick-initialized {
    button {
     box-shadow: none;
     border: none;
   }
   }
  .slick-slide {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  .slick-slide.slick-active {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  .slick-dots li {
    width: 14px;
    height: 14px;
    margin: 0;
  }
  .slick-dots {
    margin-bottom: 14px;
    width: 60%;
   
  }


}
