@use './../../variables.scss' as *;
@use './../../mixins.scss' as *;

.lessons {
  //   @include card-passive;
  //   padding: 20px;

  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    @include card-passive;
    width: fit-content;
  }
  &__table {
    // margin-bottom: 20px;
    width: auto;
    border-collapse: collapse;
    // padding: 5px;
    th,
    td {
      text-align: center;
    }
    th {
      font-weight: 600;
      position: sticky;
      top: 0;
      z-index: 1;
      padding: 12px;
      border-right: 1px solid $secondary-color;
      min-width: 40px;
      font-size: 0.8rem;
      line-height: normal;
      // align-self: start;
      &:last-child {
        border-right: none;
      }
      @media (max-width: 768px) {
        padding: 4px;
      }
    }

    .day-cell {
      font-weight: 600;
      position: sticky;
      left: 0;
      z-index: 2;
      // max-width: 120px;
      border-right: 1px solid $secondary-color;
      font-size: 0.6rem;
    }

    .lesson-cell {
      vertical-align: center;
      min-width: 60px;
      max-width: 120px;
      transition: background-color 0.2s;
      border-right: 1px solid $secondary-color;
      &:last-child {
        border-right: none;
      }
    }

    .lesson-item {
      //   background-color: red;
      // border: 2px solid red;
      //   border-radius: 6px;
      //   margin: 5px 0;
      line-height: 1.4em;
      padding: 6px;
      font-size: 14px;
      height: auto;
      font-weight: 500;
      color: $primary-color;
      transition: transform 0.2s, box-shadow 0.2s;
      //   width: 50%;;
    }

    tbody tr {
      transition: background-color 0.2s;
      &:nth-child(even) {
        background-color: $background-color;
      }

      &:hover {
        background-color: rgb(192, 190, 190);
      }
    }

    thead tr {
      border-bottom: 1px solid $secondary-color;
    }
  }

  @media (max-width: 768px) {
    h3 {
      font-size: 24px;
    }

    .lessons-table {
      th,
      td {
        padding: 8px;
      }

      .lesson-item {
        padding: 6px 8px;
        font-size: 13px;
      }
    }
  }
}
