@use '../../../../variables.scss' as *;

.trainers {
  display: flex;
  flex-direction: column;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px 0;
  }
  &__title {
    width: 100%;
  }
  &__card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 120px;
    width: calc(33.333% - 13.333px);
    transition: transform .2s, box-shadow .2s;
    // cursor: pointer;
    @media screen and (max-width: 1100px) {
      width: calc(50% - 10px);
    }
    @media screen and (max-width: 580px) {
      width: 100%;
    }

  
  
    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      flex: 0 0 100px;
      overflow: hidden;
      padding:4px;
      align-self: start;
      border-radius: 10px;
    }

    &-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 6px;
      line-height: normal;
      align-self: start;
      text-align: right;



      p {
        margin: 4px 0;
      }
    }
  }
}


