.next-arrow,
.prev-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  top:35%;
  cursor: pointer;
  z-index: 20;
  color: black;
  padding: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
}

.next-arrow {
  right: -10px;
  background-image: url("./../../../assets/svg/newarrow-right-black.svg");
@media (max-width: 400px) {
  right: 0;
}

  &:hover {
    background-image: url("./../../../assets/svg/newarrow-right-red.svg");
    scale: 1.2;
  }
}

.prev-arrow {
  left: -10px;
  background-image: url("./../../../assets/svg/newarrow-left-black.svg");
@media (max-width: 400px) {
  left: 0;
}
  &:hover {
    background-image: url("./../../../assets/svg/newarrow-left-red.svg");
    scale: 1.2;
  }
}
