@use '../../../variables.scss' as *;
@use '../../../mixins.scss' as *;

.competitions__card {
  @include card-active;
  padding: 10px;
  margin: 5px 2px;
  height: 240px !important; 
  flex: 1 1 calc(50% - 20px);

  max-width: calc(50% - 10px);


  @media (max-width: 980px) {
    flex: 1 1 100%;
    max-width: 100%;
  }

  h3 {
  //   font-size: 1rem;
    margin: 4px 0 6px 10px

  //   width: 100%;
  }

  p {
    margin-bottom: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    
    // line-height: 1.4em; 
  }


  img {
    height: auto;
    border-radius: 4px;
    margin-left: 10px;
    object-fit: cover;
    width: 35%; // Set width to 35% of the container
    float: right;
    margin-left: 10px;
    min-height: 200px;
  }
  span {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

@media (max-width: 980px) {
  .news__card {
    align-items: flex-start;
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .news__card {
    p {
    line-clamp: 3;
    -webkit-line-clamp: 3;
    }
    img {
      min-height: 140px;
    }
    
  }
}
