@use './variables.scss' as *;

// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
body,
html {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-shadow: none;
}

.header {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  &__logo {
    font-size: 0.8rem;
    line-height: 1.2em;
  }
}

.header a,
.header li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: $text-color;
}
.header a {
  font-size: 0.8rem;
  font-weight: 700;
}
.header__menu {
  text-transform: uppercase;
}
.header__logo {
  font-size: 0.6rem;
  a {
    font-weight: 700;
  }
}
h1 {
  line-height: 1.2em;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  @media (max-width: 980px) {
    font-size: 1.2rem;
  }
}
h2 {
  line-height: 1em;
  font-size: 1.25rem;
  font-weight: 700;
  // text-align: center;
  // vertical-align: bottom;
  @media (max-width: 400px) {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: normal;
  }

  a {
    &:hover {
      // text-shadow: 0 0 2px rgba(207, 56, 56, 0.2);
      color: $primary-color;
    }
  }
}
h3 {
  line-height: 1em;
  font-size: 0.7rem;
  @media (max-width: 768px) {
    font-size: 0.6rem;
  }
}
p {
  line-height: normal;
  font-size: 0.5rem;
}
.news p,
.competitions p {
  font-size: 0.6rem;
}
span {
  font-size: 0.5rem;
}
.sportsmans__card-info,
.trainers__card-info {
  h3 {
    font-size: 0.8rem;
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
  p {
    font-size: 0.6rem;
    @media (max-width: 768px) {
      font-size: 0.5rem;
    }
  }
}
.leads__card-info {
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
}
button {
  font-size: 0.8rem;
  color: $text-color;
  &:hover {
    color: $primary-color;
    transition: all 0.2s;
    // text-shadow: 0 0 1px ;
  }
}
.header__logo {
  a {
    span {
      font-size: 0.8rem;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
.header__menu-item a,
.footer a {
  &:hover {
    color: $primary-color;
    // text-shadow: 2px 2px 1px rgba(207, 56, 56, 0.2);
  }
}
.header__menu-contacts a {
  font-size: 0.8rem;
  font-weight: 500;
  color: $primary-color;
}
.footer a {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: normal;
}
.no-item,
.no-item h3 {
  font-size: 2rem;
  font-weight: 700;
  color: $primary-color;
  text-align: center;
}
.documents h3 {
  color: $primary-color;
  font-size: 1rem;
  font-weight: 600;
  // line-height: 2em;
}
.documents__list-item p {
  font-size: 0.7rem;
  &:hover {
    text-shadow: 0 0 1px rgba(207, 56, 56, 0.2);
    color: $primary-color;
  }
}

// .competitions__card-detailed-content, .news__card-detailed-content {
//   h3 {
//     font-size: 0.8rem;
//     font-weight: 600;
//     line-height: 2em;
//   }
//   p {
//     font-size: 0.7rem;
//     line-height: 1.5em;
//   }
//   span {
//     font-size: 0.6rem;
//     // text-align: end;
//   }
// }

.clubs-and-partners {
  h3 {
    line-height: 1em;
    font-size: 1.25rem;
    font-weight: 700;
    // text-shadow: none;
    // text-align: center;
    // vertical-align: bottom;
    @media (max-width: 980px) {
      font-size: 1rem;
    }
    a {
      &:hover {
        text-shadow: 0 0 2px rgba(207, 56, 56, 0.2);
        color: $primary-color;
      }
    }
  }
}
.header__logo-socials {
  a {
    font-size: 0.6rem;
    // text-shadow: 5px 2px 5px ;
    &:hover {
      color: $primary-color;
    }
  }
}

.detailed__date {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5em;
}

.textarea {
  // font-size: 0.8rem;
  // line-height: 1.4em;
  h3 {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.2em;
  }
  p {
    text-indent: 10px;
    @media (min-width: 768px) {
      text-indent: 10px;
    }
  }
  p,
  li {
    font-size: 0.7rem;
    line-height: 1.2em;
  }
  span {
    font-size: 0.6rem;
    // text-align: end;
  }
  li {
    list-style: disc;
    margin-left: 20px;
  }

  // @media (max-width: 768px) {
  //   h3 {

  //   }
  // }
}
.competitions-slide,
.news-slide {
  h3 {
    font-weight: 700;
  }
}
