@use './variables.scss' as *;

@mixin card-passive {
  background-color: $card-color;
  border: 1px solid $secondary-color;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 5px;
  padding: 10px;

  img {
    border-radius: 8px;
  }
}

@mixin card-active {
  @include card-passive;
  transition: $transition-fast;
  will-change: transform;
  cursor: pointer;

  &:hover {
    box-shadow: $shadow-hover;
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  }
}
