@use './variables.scss' as *;

@mixin card-passive {
  background-color: $card-color;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
@mixin card-active {
  @include card-passive;
  transition: transform 0.2s, box-shadow 0.2s;
  will-change: transform;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(207, 56, 56, 0.2);
    cursor: pointer;
  }
}
