@use '../../../variables.scss' as *;
@use '../../../mixins.scss' as *;
.documents {
  &__section {
    margin: 10px 0;
    padding: 10px 4px 10px 10px;
    @include card-passive;
  }
  h2 {
    margin-bottom: 0px;
  }
  h3 {
    margin: 10px;
  }
  &__download-button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
    min-width: 100px;
    &::after {
      content: '';
      transition: all 0.2s;
      background-image: url('./../../../assets/svg/download_black.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: 5px;
      left: 5px;
    }
    &:hover {
      &::after {
        background-image: url('./../../../assets/svg/download_red.svg');
      }
    }
  }
  &__list {
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px;
      padding: 6px 10px;
      border-bottom: 1px solid $secondary-color;
      transition: all 0.2s;
      &:hover {
        border-bottom: 1px solid $primary-color;
      }
      &:last-child {
        border-bottom: none;
        &:hover {
          border-bottom: none;
        }
      }

      p {
        cursor: pointer;
        transition: all 0.2s;
      }
    }
  }
}
